{% extends 'borbolla_main/extra_page.html' %}
{% load staticfiles %}

{% block title %} 
    Borbolla | Audio
{% endblock %}

{% block description_subtitle %} 
    Venta de Audio Profesional
{% endblock %}

{% block description_text %} 
    <h2>Venta de Audio Profesional </h2>
   <p>
       Contamos con las mejores marcas de audio profesional , ademas de personal capacitado 
       para que adquieras el mejor equipo de acuerdo a tus necesidades , desde una bocina ,
       hasta audio completo para un concierto !.
  <br><br>    
   <h4>llamanos !</h4>
   <h2>(844) 412-40-35</h2>
   </p>
{% endblock %}

{% block data_subtitle %} 
Equipo de sonido
   
{% endblock %}
{% block banner %} 
    <img src="{% static 'images/audiobanner.jpg' %}" height="400" width="1400">
{% endblock %}
{% block data_text %} 
<img src="{% static 'images/audiomarcas.jpg' %}">
        
{% endblock %}