
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rock Star Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
<link href="{% static 'css/galleryeffect.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Rajdhani:400,300,500,600,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- //fonts -->
    <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){     
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
    <!-- start-smoth-scrolling -->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
                    <script>
                                            // You can also use "$(window).load(function() {"
                                            $(function () {
                                             // Slideshow 4
                                            $("#slider3").responsiveSlides({
                                                auto: true,
                                                pager: true,
                                                nav: false,
                                                speed: 500,
                                                namespace: "callbacks",
                                                before: function () {
                                            $('.events').append("<li>before event fired.</li>");
                                            },
                                            after: function () {
                                                $('.events').append("<li>after event fired.</li>");
                                                }
                                                });
                                                });
                    </script>
<!-- menu sliding -->
    <link rel="stylesheet" href="{% static 'css/idangerous.swiper.css' %}">
    <script type='text/javascript' src='{% static "js/idangerous.swiper.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/masonry.pkgd.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/custom.js" %}'></script>
<!-- //menu sliding -->
</head>
<body>
<!-- banner -->
<div id="main-wrapper">
    <div id="top">
        <a href="#" id="sidebar-button"></a>
        <header id="logo">
            
        </header>
        <div class="search-box">
            <form action="javascript:void(0);" method="get">
            
            <fieldset>
                
                <ul class="toolbar clearfix">

                    <li><input type="search" id="search" placeholder="What are you looking for?"></li>
                    <li><button type="submit" id="btn-search"><span class="fontawesome-search"></span></button></li>

                </ul>

            </fieldset>

            </form>
        </div>
        <script>
            ( function() {

                $('#btn-search').on('click', function(e) {

                    e.preventDefault();
                    $('#search').animate({width: 'toggle'}).focus();

                });

            } () );
        </script>

    </div>
    <!-- Content -->
    <div id="content">
        
        <div id="about" class="banner-bottom">
            <div class="container">
                
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="content-grid">

            <div class="container">
                {% block banner %}{% endblock %}
                
                <div class="col-md-4 bottom-left-one">
                    <h3>{% block description_subtitle %}{% endblock %}</h3>
                    <p> {% block description_text %}{% endblock %}</p>
                </div>
                <div class="col-md-4 bottom-left-one">
                    <h3>{% block data_subtitle %}{% endblock %}</h3>
                     {% block data_text %}{% endblock %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        
        
        
        
        
    </div>
    <div id="sidebar">
        <div id="widgets">
            <nav id="mainmenu">
                <ul>
                    <li><a href="/main#home" >Inicio</a></li>
                    <li><a href="/main#about" >Nosotros</a></li>
                    <li><a href="/main#services" >Servicios</a></li>
                    <li><a href="/main#promociones"  >Promociones</a></li>
                    
                    <li><a href="/main#contact"  class="scroll">Contacto</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}"  >Salir</a></li>
                    {% else %}
                        <li><a href="{% url 'ingreso' %}"  >Ingresar</a></li>
                        <li><a href="{% url 'registro' %}"  >Registro</a></li>
                    {% endif %} 
                      
                </ul>
            </nav>

        </div>
    </div>
</div>
<!-- for bootstrap working -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->

<!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
            };
        */                              
        $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>