{% extends 'borbolla_main/extra_page.html' %}
{% load staticfiles %}

{% block title %} 
    Borbolla | Instalacion
{% endblock %}

{% block description_subtitle %} 
    Instalacion Profesional
{% endblock %}

{% block description_text %} 
    <h2>Venta e instalacion de audio profesional!</h2>
   <p>
       Nos especializamos en instalaciones en todo tipo de lugares , naves industriales , hoteles , cafeterias , etc 
       si requieres una cotizacion , dejanos tus datos asi como una breve descripcion del proyecto, y 
       con gusto te atenderemos lo mas rapido posible  
  <br><br>    
   <h4>Si lo prefieres llamanos!</h4>
   <h2>(844) 412-40-35</h2>
   </p>
{% endblock %}

{% block data_subtitle %} 
Proyecto
   
{% endblock %}
{% block banner %} 
    <img src="{% static 'images/instalacion.jpg' %}" height="400" width="960">
{% endblock %}
{% block data_text %} 
    {% if registered %}
        <h3>Borbolla Music</h3>
        
        <p><strong>
            <h4>Tu mensaje ha sido enviado a nuestros vendedores </h4> <br></strong>
            Nos pondremos en contacto contigo cuanto antes!<br>
        Regresa a la <h1><a href="/main/">Pagina principal</a></h1> </p> 
            
        
        <img src="{% static 'images/operadora.jpg'%}" height="600" width="400">
        

    {% else %}
        
        
        <form id="user_form" method="post" action="/main/instalacion/" enctype="multipart/formdata">
            {% csrf_token %}
            {{ user_form.as_p }}
            

            <p><input type="submit"  value="Enviar"></input>  </p>


        </form>
    {% endif %}    
{% endblock %}