{% extends 'borbolla_main/extra_page.html' %}
{% load staticfiles %}

{% block title %} 
    Borbolla | Instrumentos
{% endblock %}

{% block description_subtitle %} 
    Venta de instrumentos musicales
{% endblock %}

{% block description_text %} 
    <h2>Venta de Instrumentos musicales </h2>
   <p>
       Somos empresa lider en Venta de Instrumentos musicales , con mas de 15 anios de experiencia,
       al comprar un instrumento con nosotros se asegura de que es un instrumento de calidad , ya que 
       manejamos las mejores marcas del mercado , aparte que lleva consigo una garantia de servicio, 
       por lo que puede sentirse seguro y respaldado por nuestro servicio.
  <br><br>    
   <h4>llamanos !</h4>
   <h2>(844) 412-40-35</h2>
   </p>
{% endblock %}

{% block data_subtitle %} 
Instrumentos
   
{% endblock %}
{% block banner %} 
    <img src="{% static 'images/instrumentos.jpg' %}" height="400" width="960">
{% endblock %}
{% block data_text %} 
<img src="{% static 'images/marcas.jpg' %}">
        
{% endblock %}